@tailwind base;
@tailwind components;
@tailwind utilities;

.signUpHeaderDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  margin-right: 7vh;
}

.signUpHeaderTitle h2 {
  font-weight: 700;
}

.loginHeaderTitle h2 {
  font-weight: 700;
}

.signUpFormDiv {
  width: 100%;
}

.signUpFrom {
  margin-top: 7vh;
  display: grid;
  padding: 5vh;
}

.signUpInput {
  height: 8vh;
  border: 1px solid rgb(234, 226, 226);
  border-radius: 12px;
  margin-bottom: 2vh;
  padding-left: 2vh;
}

.passwordInputDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(234, 226, 226);
  border-radius: 12px;
  margin-bottom: 2vh;
  height: 8vh;
}

.passwordInputDiv input {
  padding-left: 2vh;
}

.passwordInputDiv button {
  padding-right: 2vh;
}

input:focus {
  outline:none;
}

.googleIconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(234, 226, 226);
  border-radius: 12px;
  height: 8vh;
  margin-bottom: 2vh;
  font-weight: 700;
}

.googleIconBtn p {
  text-align: center;
}

.googleIconBtn span {
  margin-right: 1vh;
}

.signUpCheckboxDiv {
  font-size: 1.5vh;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
}

.checkbox {
    width: 2rem;
    height: 2rem;
}

.signUpCheckboxDiv label {
  margin-left: 2vh;
}

.signUpCheckboxDiv label a {
  color: #63FFA5;
  margin-left: 1vh;
}

.orWithText {
  text-align: center;
  color: gray;
  font-weight: bold;
  font-size: 1.5vh;
  margin-bottom: 1vh;
}

.forgotPass {
  text-align: center;
  color: #63FFA5;
  margin-bottom: 2vh;
  font-weight: 700;
}

.accountQText {
  text-align: center;
  color: rgb(152, 150, 150);
  font-weight:500;
  font-size: 1.6vh;
}

.signUpBtn {
  background-color: #63FFA5;
  font-weight: 700;
  height: 8vh;
  border-radius: 12px;
  margin-bottom: 1vh;
}

.loginBtn {
  background-color: #63FFA5;
  font-weight: 700;
  height: 8vh;
  border-radius: 12px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.linktoSignUp {
  text-decoration: underline;
  color: #63FFA5;
}
